body{
   background-color: black;
}
h1{
   color: white;
}
.ball{
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background-color: darkblue;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 22px;
}